# **basic strings**

In [ ]:
print('python')

python

In [ ]:
print('\tpython')

	python

In [ ]:
print('\npython\n')

python

# **basic function**

In [ ]:
a = "        here are some blanks       "
print(a)

        here are some blanks

In [ ]:
print(a.rstrip())

        here are some blanks

In [ ]:
print(a.lstrip())

here are some blanks

In [ ]:
print(a.strip())

here are some blanks

# **basic math**

In [ ]:
a = 2
b = 3
c = 4 
d = 5

In [ ]:
f = a + b
f

5

In [ ]:
f = a - b
f

-1

In [ ]:
f = a * b
f

6

In [ ]:
f = a / b
f

0.6666666666666666

In [ ]:
f = a ** 10
f

1024

In [ ]:
f = a + b*c
f

14

In [ ]:
f = (a + b) * c
f

20

In [ ]:
year = 2020
sentence = str(year) + " is a tough year"
print(sentence)

2020 is a tough year

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# **list**

In [ ]:
classmates = ['Anna', 'Brown', 'Charlie', 'David', 'Eric', 'Felix', 'george']
print(classmates[0])

Anna

In [ ]:
print(classmates[-1].title())
print(classmates[1].upper())
print(classmates[2].lower())

George
BROWN
charlie

In [ ]:
for i in range(7):
  print(classmates[i].title() + " is my classmate")

Anna is my classmate
Brown is my classmate
Charlie is my classmate
David is my classmate
Eric is my classmate
Felix is my classmate
George is my classmate

In [ ]:
classmates[3] = "Dave"
print(classmates)

['Anna', 'Brown', 'Charlie', 'Dave', 'Eric', 'Felix', 'george']

In [ ]:
classmates.append('Henry')
print(classmates)

['Anna', 'Brown', 'Charlie', 'Dave', 'Eric', 'Felix', 'george', 'Henry']

In [ ]:
classmates.insert(0, "Abe")
print(classmates)
del classmates[0]
print(classmates)

['Abe', 'Anna', 'Brown', 'Charlie', 'Dave', 'Eric', 'Felix', 'george', 'Henry']
['Anna', 'Brown', 'Charlie', 'Dave', 'Eric', 'Felix', 'george', 'Henry']

In [ ]:
popped_classmates = classmates.pop()
print(classmates)
print(popped_classmates)

['Anna', 'Brown', 'Charlie', 'Dave', 'Eric', 'Felix', 'george']
Henry

In [ ]:
popped_classmates = classmates.pop(1)
print(classmates)
print(popped_classmates)

['Anna', 'Charlie', 'Dave', 'Eric', 'Felix', 'george']
Brown

In [ ]:
classmates = ['Anna', 'Brown', 'Charlie', 'David', 'Eric', 'Felix', 'george']
classmates.remove('Eric')
print(classmates)

['Anna', 'Brown', 'Charlie', 'David', 'Felix', 'george']

In [ ]:
roomate = 'george'
classmates.remove(roomate)
print(classmates)

['Anna', 'Brown', 'Charlie', 'David', 'Felix']

In [ ]:
classmates = ['Brown', 'Anna', 'Charlie', 'David', 'Felix', 'Eric', 'george']
print(classmates)
classmates.sort()
print(classmates)
classmates.sort(reverse=True)
print(classmates)

['Brown', 'Anna', 'Charlie', 'David', 'Felix', 'Eric', 'george']
['Anna', 'Brown', 'Charlie', 'David', 'Eric', 'Felix', 'george']
['george', 'Felix', 'Eric', 'David', 'Charlie', 'Brown', 'Anna']

In [ ]:
classmates = ['Brown', 'Anna', 'Charlie', 'David', 'Felix', 'Eric', 'george']
print(sorted(classmates))
print(classmates)

['Anna', 'Brown', 'Charlie', 'David', 'Eric', 'Felix', 'george']
['Brown', 'Anna', 'Charlie', 'David', 'Felix', 'Eric', 'george']

In [ ]:
classmates.reverse()
print(classmates)
classmates.reverse()
print(classmates)

['george', 'Eric', 'Felix', 'David', 'Charlie', 'Anna', 'Brown']
['Brown', 'Anna', 'Charlie', 'David', 'Felix', 'Eric', 'george']

In [ ]:
len(classmates)

7

In [ ]:
for classmate in classmates:
    print(classmate.title() + " is my classmate. \n")
print('Those are my classmates.')

Brown is my classmate.

Anna is my classmate.

Charlie is my classmate.

David is my classmate.

Felix is my classmate.

Eric is my classmate.

George is my classmate.

Those are my classmates.

In [ ]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
5
15

In [ ]:
squares = [value ** 2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
print(numbers)
print(numbers[0:3])
print(numbers[:3])
print(numbers[2:])
print(numbers[-2:])

[1, 2, 3, 4, 5]
[1, 2, 3]
[1, 2, 3]
[3, 4, 5]
[4, 5]

In [ ]:
numbers = list(range(1,6))
print(numbers)
print('')
numbers1 = numbers[:]
numbers.append(int(6))
numbers1.append(int(7))
print(numbers)
print(numbers1)
print('')
numbers = list(range(1,6))
numbers1 = numbers
numbers.append(int(6))
numbers1.append(int(7))
print(numbers)
print(numbers1)

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 7]

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

# **tuple**

In [ ]:
dimensions = (100,200)
print(dimensions[0])
print(dimensions[1])

100
200

In [ ]:
if 1 in numbers:
    print('number 1 is in the list.')
elif 2 in numbers:
    print('number 2 is in the list.')
else:
    print('numebrs 1, 2 are not in the list.')

number 1 is in the list.

In [ ]:
numbers = list(range(1,6))

print(numbers)
print('')

if 1 in numbers:
    print('number 1 is in the list.')
if 2 in numbers:
    print('number 2 is in the list.')
if 3 in numbers:
    print('number 3 is in the list.')

print('numbers 1, 2, 3 all in the list.')

[1, 2, 3, 4, 5]

number 1 is in the list.
number 2 is in the list.
number 3 is in the list.
numbers 1, 2, 3 all in the list.

In [ ]:
#numbers = list(range(1,6))
numbers = []
if numbers:
    for number in numbers:
        if number == max(numbers):
            print('the biggest is here, I got it. It is ' + str(number) + '.')
        else:
            print(str(number) + ' is here.')
else:
    print('list is empty!')

list is empty!

In [ ]:
numbers = list(range(1,6))
paired_numbers = list(range(1,4))
for number in numbers:
    if number in paired_numbers:
        print(str(number) + ' got paired.')
    else:
        print(str(number) + ' is alone.')
print('finished pairing.')

1 got paired.
2 got paired.
3 got paired.
4 is alone.
5 is alone.
finished pairing.

# **dictionary**

In [ ]:
users = {'name': 'A', 'level': 1}
print(users['name'])
print(users['level'])
print(users)

A
1
{'name': 'A', 'level': 1}

In [ ]:
user_0 = users
user_0['gender'] = 'male'
print(user_0)

{'name': 'A', 'level': 1, 'gender': 'male'}

In [ ]:
user_0['level'] = 2
print('user: '+ user_0['name'] + ' just got leveled up to LV.' + str(user_0['level']) + ' !')

user: A just got leveled up to LV.2 !

In [ ]:
for key, value in user_0.items():
    print('\nKey: ' + key)
    print('\nValue: ' + str(value))

Key: name

Value: A

Key: level

Value: 2

Key: gender

Value: male

In [ ]:
users = {'name': 'A', 'level': '1'}
for name in users.keys():
    print(name.title())

Name
Level

In [ ]:
classmates = {'Brown': 'male', 'Anna': 'female', 'Charlie': 'male', 'David': 'male', 'Felix': 'male', 'Eric': 'male', 'george': 'male'}
for name in sorted(classmates.keys()):
    print(name.title() +', Howdy')

Anna, Howdy
Brown, Howdy
Charlie, Howdy
David, Howdy
Eric, Howdy
Felix, Howdy
George, Howdy

In [ ]:
for gender in classmates.values():
    print(gender.title())
print('**********************')
for gender in set(classmates.values()):
    print(gender.title())

Male
Female
Male
Male
Male
Male
Male
**********************
Female
Male

In [ ]:
users = {
    'A':{
        'level':'1',
        'rank':'low',
    },

    'B':{
        'level':'2',
        'rank':'low',
    },

    'C':{
        'level':'3',
        'rank':'medium',
    },   
    
}

In [ ]:
for username, user_info in users.items():
    print('\nusername: ' + username)
    print('\tLv: ' + user_info['level'] )
    print('\tRank:' + user_info['rank'].title())

username: A
	Lv: 1
	Rank:Low

username: B
	Lv: 2
	Rank:Low

username: C
	Lv: 3
	Rank:Medium

# **input**

In [ ]:
name = input('Hello, my friend, what is your name?\n')
print('Hello, ' + name.title() + '! Nice to meet you.')

Hello, my friend, what is your name?
neo
Hello, Neo! Nice to meet you.

In [ ]:
prompt = 'Hello, my friend, what is your name?'
prompt += '\nDue to my silly founctionality, type in only name, my friend.\n'
name = input(prompt)
print('Hello, ' + name.title() + '! Nice to meet you.')

Hello, my friend, what is your name?
Due to my silly founctionality, type in only name, my friend.
neo
Hello, Neo! Nice to meet you.

In [ ]:
age = int(input('how old are you?\n'))
if age >= 18:
  print('welcome to the adult world')
else:
  print('lucky for you, have fun with the childhood.')

how old are you?
22
welcome to the adult world

In [ ]:
prompt = 'this is a tool to help you calculate the residue.'
prompt += '\njust type in the dividend you want to calculate.\n'
dividend = input(prompt)
prompt1 = 'and the divisor.\n'
divisor = input(prompt1)
residue = int(dividend) % int(divisor)
print('\nhere is your answer: ' + str(residue))

this is a tool to help you calculate the residue.
just type in the dividend you want to calculate.
15
and the divisor.
6

here is your answer: 3

# **while**

In [ ]:
message = 'this is an app to help you sleep by counting sheep.'
message += '\nhope that can help.'
print(message)
i = 1
while i <= 20:
    print(str(i) + ' sheep')
    
    if i == 20:
        print('how can you still awake? go to bed, my friend.')

    i += 1

this is an app to help you sleep by counting sheep.
hope that can help.
1 sheep
2 sheep
3 sheep
4 sheep
5 sheep
6 sheep
7 sheep
8 sheep
9 sheep
10 sheep
11 sheep
12 sheep
13 sheep
14 sheep
15 sheep
16 sheep
17 sheep
18 sheep
19 sheep
20 sheep
how can you still awake? go to bed, my friend.

In [ ]:
prompt = 'this is a repeater.'
prompt += "\ntype in 'quit' if you get bored."
prompt += '\ntype in anything and check it out: '
prompt1 = 'try repeat this: '
message = ''
print(prompt)
while message != 'quit':

    message = input(prompt1)

    if message != 'quit':
        print(message)
    else:
        print('hope to see you next time.')

this is a repeater.
type in 'quit' if you get bored.
type in anything and check it out:
try repeat that: hello
hello
try repeat that: waht
waht
try repeat that: no
no
try repeat that: quit
hope to see you next time.

In [ ]:
prompt = 'this is a repeater.'
prompt += "\ntype in 'quit' if you get bored."
prompt += '\ntype in anything and check it out: '
prompt1 = 'try repeat this: '
message = ''
print(prompt)
active = True
while active:

    message = input(prompt1)

    if message == 'quit':
        active = False
        print('hope to see you next time.')
    else:
        print(message)

this is a repeater.
type in 'quit' if you get bored.
type in anything and check it out:
try repeat this: hello
hello
try repeat this: hi
hi
try repeat this: hody
hody
try repeat this: quit
hope to see you next time.

In [ ]:
print(prompt)
while True:
    message = input(prompt1)
    if message == 'quit':
        print('hope to see you next time.')
        break
    else:
        print(message)

this is a repeater.
type in 'quit' if you get bored.
type in anything and check it out:
try repeat this: hi
hi
try repeat this: howdy
howdy
try repeat this: hello
hello
try repeat this: quit
hope to see you next time.

In [ ]:
i = 0
while i < 10:
    i += 1
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
new_classmates = ['Brown', 'Anna', 'Charlie', 'David', 'Felix', 'Eric', 'george']
old_classmates = []
while new_classmates:
    classmate  = new_classmates.pop()
    print('Now, I get a new classmate: ' + classmate.title())
    old_classmates.append(classmate)
print('\n the following classmate become my new classmates: ')
for i in old_classmates:
    print(i.title())

Now, I get a new classmate: George
Now, I get a new classmate: Eric
Now, I get a new classmate: Felix
Now, I get a new classmate: David
Now, I get a new classmate: Charlie
Now, I get a new classmate: Anna
Now, I get a new classmate: Brown

 the following classmate become my new classmates:
George
Eric
Felix
David
Charlie
Anna
Brown

In [ ]:
classmates = ['Brown', 'Anna', 'Charlie', 'David', 'Felix', 'Eric', 'george']
print(classmates)
while 'Brown' in classmates:
    classmates.remove('Brown')
print(classmates)

['Brown', 'Anna', 'Charlie', 'David', 'Felix', 'Eric', 'george']
['Anna', 'Charlie', 'David', 'Felix', 'Eric', 'george']

In [ ]:
users = {}
active = True
while active:
    name = input('\nwhat is your name?\n')
    gender = input('what is your gender?\n')
    users[name] = gender
    reffer = input('would you like to reffer some friends?(y/ n)')
    if reffer == 'n':
        active = False

print('\n ------USER LIST------')
for name, gender in users.items():
    print(name.title() + ' is ' + gender.title() + '.')

what is your name?
neo
what is your gender?
m
would you like to reffer some friends?(y/ n)y

what is your name?
leo
what is your gender?
m
would you like to reffer some friends?(y/ n)y

what is your name?
zeo
what is your gender?
f
would you like to reffer some friends?(y/ n)n

 ------USER LIST------
Neo is M.
Leo is M.
Zeo is F.

# **function**

In [ ]:
def greeting(name):
    print('Hello, ' + name.title() + '!')

greeting('neo')

Hello, Neo!

In [ ]:
def user_info(user_id, user_name, user_level):
    print('\nUser: ' + user_id)
    print('\tName: '+ user_name.title())
    print('\tLv: ' + user_level)

user_info('007','neo','3')
print('')
user_info(user_level='4', user_name='leo', user_id='005')

User: 007
	Name: Neo
	Lv: 3


User: 005
	Name: Leo
	Lv: 4

In [ ]:
def user_info(user_id, user_name, user_level='8'):
    print('\nUser: ' + user_id)
    print('\tName: '+ user_name.title())
    print('\tLv: ' + user_level)

user_info('007','neo','3')
print('')
user_info(user_level='4', user_name='leo', user_id='005')
user_info('009','zeo')

User: 007
	Name: Neo
	Lv: 3


User: 005
	Name: Leo
	Lv: 4

User: 009
	Name: Zeo
	Lv: 8

In [ ]:
def register_user(input_name,password):
    user ={'name':input_name,'password':password}
    return user

user_01 = register_user('neo','1234')
print(user_01)

{'name': 'neo', 'password': '1234'}

In [ ]:
def greeting(name):
    user_name = name.title()
    return user_name

while True:
    print('\nHello, what is your name?')
    print("(enter 'q' to quit)")
    input_name = input('My name is: ')
    if input_name == 'q':
        break
    username = greeting(input_name)
    print('\nHello,' + username + '!')

Hello, what is your name?
(enter 'q' to quit)
My name is: leo

Hello,Leo!

Hello, what is your name?
(enter 'q' to quit)
My name is: neo

Hello,Neo!

Hello, what is your name?
(enter 'q' to quit)
My name is: q

In [ ]:
def greeting(names):
    for name in names:
        print('Hello, ' + name.title() + '!')

classmates = ['Brown', 'Anna', 'Charlie', 'David', 'Felix', 'Eric', 'george']
greeting(classmates)

Hello, Brown!
Hello, Anna!
Hello, Charlie!
Hello, David!
Hello, Felix!
Hello, Eric!
Hello, George!

In [ ]:
def searchapp(unsearch, searched):
    while unsearch:
        searching = unsearch.pop()
        print('Searching for: ' + searching)
        searched.append(searching)

def show_result(searched):
    print('\nThe searched list:')
    for i in searched:
        print(i)

unsearch = ['Brown', 'Anna', 'Charlie', 'David', 'Felix', 'Eric', 'george']
searched = []

In [ ]:
searchapp(unsearch, searched)
show_result(searched)
print('')
print(unsearch)

Searching for: george
Searching for: Eric
Searching for: Felix
Searching for: David
Searching for: Charlie
Searching for: Anna
Searching for: Brown

The searched list:
george
Eric
Felix
David
Charlie
Anna
Brown

[]

In [ ]:
searchapp(unsearch[:], searched)
show_result(searched)
print('')
print(unsearch)

Searching for: george
Searching for: Eric
Searching for: Felix
Searching for: David
Searching for: Charlie
Searching for: Anna
Searching for: Brown

The searched list:
george
Eric
Felix
David
Charlie
Anna
Brown

['Brown', 'Anna', 'Charlie', 'David', 'Felix', 'Eric', 'george']

In [ ]:

def show_classmate(*names):
    print('----The Roster----')
    for name in names:
        print('-' + name.title())

show_classmate('neo')
show_classmate('Brown', 'Anna', 'Charlie', 'David', 'Felix', 'Eric', 'george')

----The Roster----
-Neo
----The Roster----
-Brown
-Anna
-Charlie
-David
-Felix
-Eric
-George

In [ ]:
def register_user(userid, username, **user_info):
    profile = {}
    profile['id'] = userid
    profile['name'] = username
    for key, value in user_info.items():
        profile[key] = value
    return profile

user_profile = register_user('001','neo',level='1',rank='low')
print(user_profile)

{'id': '001', 'name': 'neo', 'level': '1', 'rank': 'low'}

# **import**

In [ ]:
def register_user(userid, username, **user_info):
    profile = {}
    profile['id'] = userid
    profile['name'] = username
    for key, value in user_info.items():
        profile[key] = value
    return profile

save as register.py in the same file folder.

then create another .py file

In [ ]:
import register

register.register_user('001','neo',level='1',rank='low')

from module_name import function_name, function_2, ...

from module_name import *

In [ ]:
from register import register_user as ru
ru('001','neo',level='1',rank='low')

import register as r
r.register_user('001','neo',level='1',rank='low')

from register import *
register_user('001','neo',level='1',rank='low')

# **class**

In [ ]:
class AI():
    
    def __init__(self,name,level):
        self.name = name
        self.level = level
        self.mode = 'funny'

    def show_info(self):
        print('---AI description---')
        print('name:' + self.name.title())
        print('level: ' + str(self.level))
        print('mode: ' + self.mode)
        print('')

    def talk(self):
        print(self.name.title() + ' is now talking.')

    def move(self):
        print(self.name.title() + ' is now moving.')

    def battery(self):
        status = self.name.title() + ' is low battery, need charge now!'
        return status

    def update_mode(self, character):
        if character != self.mode:
            self.mode = character
        else:
            print('Already in ' + self.mode + ' mode.')

    def level_up(self, levels):
        self.level += levels


my_AI = AI('neo', 1)
my_AI.show_info()
my_AI.talk()
my_AI.move()
print(my_AI.battery())

---AI description---
name:Neo
level: 1
mode: funny

Neo is now talking.
Neo is now moving.
Neo is low battery, need charge now!

In [ ]:
my_AI.mode = 'cute'
my_AI.show_info()

---AI description---
name:Neo
age: 1
mode: cute

In [ ]:
my_AI.update_mode('smart')
my_AI.show_info()

---AI description---
name:Neo
age: 1
mode: smart

In [ ]:
my_AI.update_mode('smart')
my_AI.show_info()

Already in smart mode.
---AI description---
name:Neo
age: 1
mode: smart

In [ ]:
my_AI.level_up(4)
my_AI.show_info()

---AI description---
name:Neo
level: 5
mode: funny

In [ ]:
class Robot(AI):

      def __init__(self,name,level):
          super().__init__(name,level)
          self.skills = 'read, write, sing, dance'

      def show_skills(self):
          print(self.name.title() + ' have many skills: '+ self.skills)

      def update_mode(self, character):
          print('Robot is unable to change mode!') 


my_robot = Robot('leo',2)
print(my_robot.show_info())

---AI description---
name:Leo
level: 2
mode: funny

None

In [ ]:
my_robot.show_skills()

Leo have many skills: read, write, sing, dance

In [ ]:
my_robot.update_mode('smart')
print(my_robot.show_info())

Robot is unable to change mode!
---AI description---
name:Leo
level: 2
mode: funny

None

*save class AI as AI.py*

*then open another .py file*

In [ ]:
from AI import AI
my_AI = AI('leo',3)
print(my_AI.show_info())

*save class AI and Robot together as Ai.py*

*then open another .py file*

In [ ]:
from Ai import AI, Robot
my_new_friend = Robot('leo',2)
my_old_friend = AI('leo',3)
print(my_new_friend .show_info())
print(my_old_friend .show_info())

# **read data from file**

In [ ]:
with open('test.txt') as f:
    contents = f.read()
    print(contents)
    print(contents.rstrip())  #delete the blank row

In [ ]:
with open('file_folder_name\file_name.txt') as f:

file_path = 'C:\Users\name\file_folder_name\file_name.txt'
with open(file_path) as f:

In [ ]:
filename = 'test.txt'

with open(filename) as f:
    for line in f:
        print(line)
        print(line.rstrip())

In [ ]:
filename = 'test.txt'

with open(filename) as f:
    lines = f.readlines()

string = ''
for line in lines:
    string += line.rstrip()
    #string += line.strip() # delete all blank spaces
print(string)
print(len(string))

In [ ]:
filename = 'big_test.txt'

with open(filename) as f:
    lines = f.readlines()

string = ''
for line in lines:
    string += line.strip() 

print(string[:2020] + '...')
print(len(string))

In [ ]:
filename = 'big_test.txt'

with open(filename) as f:
    lines = f.readlines()

string = ''
for line in lines:
    string += line.strip() 

keyword = input('enter the keyword you want to find:  ')
if keyword in string:
    print('keyword founded')
else:
    print('keyword not found')

In [ ]:
message = "I miss you now."
print(message)
new_message = message.replace('you','home')
print(new_message)

I miss you now.
I miss home now.

# **save data to file**

In [ ]:
filename = 'test.txt'

#'w' method will clear the existing data from file
with open(filename, 'w') as f:
    f.write('this is a test.')   #there will be no line break
    f.write('this is also a test.\n')

#'a' method only add data 
with open(filename, 'a') as f:
    f.write('this is an additional test.\n')
    f.write('this is also an additional test.\n')

# **deal with errors**

In [ ]:
    print(52/0)

ZeroDivisionError: ignored

In [ ]:
try:
    print(52/0)
except ZeroDivisionError:
    print('unable to excute divide by zero')

unable to excute divide by zero

In [ ]:
while True:
    a = input('\ndividend: ')
    if a == 'q':
        break
    b = input('\ndivisor: ')
    try:
        answer = int(a)/int(b)
    except ZeroDivisionError:
        print('unable to excute divide by zero')
    else:
        print(answer)

dividend: 10

divisor: 5
2.0

dividend: 10

divisor: 0
unable to excute divide by zero

dividend: q

In [ ]:
filename = 'test.txt'

try:
    with open(filename, 'w') as f:
        contents = f.read()
except FileNotFoundError:
    msg = filename + ' not exist.'
    print(msg)

In [ ]:
sentence = 'I am a robot.'
print(sentence.split())
print(len(sentence))

['I', 'am', 'a', 'robot.']
13

In [ ]:
def count_words(filename):
    try:
        with open(filename) as f:
            contents = f.read()
    except FileNotFoundError:
        msg = filename + ' not exist.'
        print(msg)
    else:
        words = contents.split()
        num = len(words)
        print(filename + ' has ' + str(num) + 'words.')

filenames = ['text1.txt', 'text2.txt', 'text3.txt']
for filename in filenames:
    count_words(filename)

In [ ]:
import json
number = [97,76,69]
filename = 'numbers.json'
with open(filename, 'w') as f:
    json.dump(number, f)

In [ ]:
import json

filename = 'numbers.json'
with open(filename) as f:
    numbers = json.load(f)
  
print(numbers)

In [ ]:
import json

username = input('please input your name: ')

filename = 'username.json'
with open(filename, 'w') as f:
    json.dump(username, f)
    print('register success')

In [ ]:
import json

filename = 'username.json'

with open(filename) as f:
    username = json.load(f)
    print('welcome, ' + username)

In [ ]:
import json

def get_exist_name():
    filename = 'username.json'
    try:
        with open(filename) as f:
            username = json.load(f)
    except FileNotFoundError:
        return None
    else:
        return username

def get_new_user()
    username = input('please input your name: ')
    filename = 'username.json'
    with open(filename, 'w') as f:
        json.dump(username, f)
        #print('register success')
    return username

def greet_user():
    username = get_exist_name()
    if username:
        print('welcome, ' + username)
    else:
        username = get_new_user
        print('register success: ' + username)

# **test the code**

In [ ]:
def formate_name(first, last):
    full_name = first + ' ' + last
    return full_name.title()

## save as naming.py

In [ ]:
from naming import formate_name as fn
print("the mamgic exit key is 'q'.")
while True:
    first = input('\nfirst name goes first: ')
    if first == 'q':
        break
    last = input('\nlast name goes last: ')
    if last == 'q':
        break

    good_looking_name = fn(first, last)
    print('\there goes the good looking name: ' + good_looking_name + '.')

In [ ]:
import unittest
#from naming import formate_name as fn

class NameTest(unittest.TestCase):

    def test_name(self):
        good_looking_name = formate_name('leo', 'neo')
        #good_looking_name = fn('leo', 'neo')
        self.assertEqual(good_looking_name, 'Leo Neo')

    #def test_another_stuff

#unittest.main()
unittest.main(argv=['first-arg-is-ignored'], exit=False)

.
----------------------------------------------------------------------
Ran 1 test in 0.002s

OK

In [ ]:
%tb

SystemExit: ignored

In [ ]:

class UserList():
    
    def __init__(self, name):
        self.name = name
        self.responses = []

    def show_name(self):
        print(name)

    def store_response(self, new_response):
        self.responses.append(new_response)

    def show_list(self):
        print('List:')
        for response in self.responses:
            print('- ' + response)



name = 'leo'
my_list = UserList(name)

my_list.show_name()
print("'q' is the magic exit word.\n")
while True:
    i = input('like: ')
    if i == 'q':
        break
    else:
        my_list.store_response(i)

print('\nthe list shows ' + name.title() + ' likes many things.')
my_list.show_list()

leo
'q' is the magic exit word.

like: a
like: b
like: c
like: d
like: q

the list shows Leo likes many things.
List:
- a
- b
- c
- d

In [ ]:
import unittest
class TestUserList(unittest.TestCase):

    def setUp(self):
        name = 'leo'
        self.my_list = UserList(name)
        self.responses = ['a', 'b']

    def test_store_single_response(self):
        self.my_list.store_response(self.responses[0])
        self.assertIn(self.responses[0], self.my_list.responses)

    def test_store_two_response(self):
        for response in self.responses:
            self.my_list.store_response(response)
        for response in self.responses:
            self.assertIn(response, self.my_list.responses)

#unittest.main()
unittest.main(argv=['first-arg-is-ignored'], exit=False)

...
----------------------------------------------------------------------
Ran 3 tests in 0.006s

OK

# **some idea not finished**

In [ ]:
from collections import OrderedDict

password = OrderedDict()

password['A'] = '1234'
password['B'] = '12345'
password['C'] = '123'

def login_in(input_name,input_password):
    for name, ps in password.items():
        if input_name in name:
            if input_password != ps:
                print('wrong name or password.')
                break
            else:
                print('login in success.')
                break
        else:
            print('user does not exit.')
            break

login_in('A','1234')
login_in('A','12')
login_in('V','12')
login_in('B','1234')

login in success.
wrong name or password.
user does not exit.
user does not exit.